In [1]:
import pandas as pd
import numpy as np

In [25]:
data = pd.read_fwf('housing.txt')
data.columns = ["CRIM","ZN","INDUS","CHAS","NOX","RM","AGE","DIS","RAD","TAX","PTRATIO","B","LSTAT","MEDV"]

ValueError: Length mismatch: Expected axis has 4 elements, new values have 14 elements

In [23]:
data

,ï»¿0.00632 18.00 2.310,0 0.5380 6.5750 65.20 4.0900,Unnamed: 2,1 296.0 15.30 396.90 4.98 24.00
0,0.02731 0.00 7.070 0,0.4690 6.4210 78.90 4.9671,2,242.0 17.80 396.90 9.14 21.60
1,0.02729 0.00 7.070 0,0.4690 7.1850 61.10 4.9671,2,242.0 17.80 392.83 4.03 34.70
2,0.03237 0.00 2.180 0,0.4580 6.9980 45.80 6.0622,3,222.0 18.70 394.63 2.94 33.40
3,0.06905 0.00 2.180 0,0.4580 7.1470 54.20 6.0622,3,222.0 18.70 396.90 5.33 36.20
4,0.02985 0.00 2.180 0,0.4580 6.4300 58.70 6.0622,3,222.0 18.70 394.12 5.21 28.70
...,...,...,...,...
500,0.06263 0.00 11.930 0,0.5730 6.5930 69.10 2.4786,1,273.0 21.00 391.99 9.67 22.40
501,0.04527 0.00 11.930 0,0.5730 6.1200 76.70 2.2875,1,273.0 21.00 396.90 9.08 20.60
502,0.06076 0.00 11.930 0,0.5730 6.9760 91.00 2.1675,1,273.0 21.00 396.90 5.64 23.90
503,0.10959 0.00 11.930 0,0.5730 6.7940 89.30 2.3889,1,273.0 21.00 393.45 6.48 22.00
504,0.04741 0.00 11.930 0,0.5730 6.0300 80.80 2.5050,1,273.0 21.00 396.90 7.88 11.90