In [5]:
import pandas as pd

In [6]:
data =  pd.read_csv("homeprice.csv")
data

   area  bedroom  age   price
0  2600        3   20  550000
1  3000        4   15  565000
2  3200        3   18  610000
3  3600        3   30  680000
4  4000        5    8  725000

In [7]:
x = data[["area","bedroom","age"]].values

In [8]:
y = data["price"].values

array([550000, 565000, 610000, 680000, 725000], dtype=int64)

In [9]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(x,y, train_size = 0.80, random_state=1)

In [10]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [11]:
model.fit(xtrain, ytrain)

LinearRegression()

In [12]:
ypred = model.predict(xtest)
ypred

array([695000.])

In [17]:
model.score(x,y)

0.6784601691143757

In [21]:
model.predict([[3000,3,40]])

array([597200.])