In [35]:
import numpy as np
import pandas as pd

In [36]:
Data= pd.read_table('fruits1.txt')
Data.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [37]:
x = Data[["mass","width","height","color_score"]].values
y=Data['fruit_label'].values

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(x, y, test_size=0.2,random_state=0)

In [39]:
Data.describe()

       fruit_label        mass      width     height  color_score
count    59.000000   59.000000  59.000000  59.000000    59.000000
mean      2.542373  163.118644   7.105085   7.693220     0.762881
std       1.208048   55.018832   0.816938   1.361017     0.076857
min       1.000000   76.000000   5.800000   4.000000     0.550000
25%       1.000000  140.000000   6.600000   7.200000     0.720000
50%       3.000000  158.000000   7.200000   7.600000     0.750000
75%       4.000000  177.000000   7.500000   8.200000     0.810000
max       4.000000  362.000000   9.600000  10.500000     0.930000

In [40]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [41]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(X_train, y_train)

GaussianNB()

In [42]:
y_pred = model.predict(X_test)
y_pred

array([3, 3, 4, 4, 1, 1, 3, 4, 3, 3, 2, 1], dtype=int64)

In [43]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[3, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 4, 1],
       [0, 0, 0, 2]], dtype=int64)

In [44]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test, y_pred)*100
acc

83.33333333333334

In [34]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

    Real Values  Predicted Values
0             2                 3
1             4                 4
2             1                 1
3             3                 1
4             1                 1
5             1                 1
6             3                 4
7             3                 1
8             4                 4
9             1                 1
10            1                 1
11            3                 3