In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('Salary_Data.csv')
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [5]:
x= data['YearsExperience'].values
y= data['Salary'].values

type(x)

numpy.ndarray

In [6]:
print(x,'\n\n', y)

[ 1.1  1.3  1.5  2.   2.2  2.9  3.   3.2  3.2  3.7  3.9  4.   4.   4.1
  4.5  4.9  5.1  5.3  5.9  6.   6.8  7.1  7.9  8.2  8.7  9.   9.5  9.6
 10.3 10.5]

 [ 39343.  46205.  37731.  43525.  39891.  56642.  60150.  54445.  64445.
  57189.  63218.  55794.  56957.  57081.  61111.  67938.  66029.  83088.
  81363.  93940.  91738.  98273. 101302. 113812. 109431. 105582. 116969.
 112635. 122391. 121872.]

In [7]:
x.shape
y.shape

(30,)

In [8]:
x

array([ 1.1,  1.3,  1.5,  2. ,  2.2,  2.9,  3. ,  3.2,  3.2,  3.7,  3.9,
        4. ,  4. ,  4.1,  4.5,  4.9,  5.1,  5.3,  5.9,  6. ,  6.8,  7.1,
        7.9,  8.2,  8.7,  9. ,  9.5,  9.6, 10.3, 10.5])

In [9]:
# shape of feature should be(no. of samples, no. of features)
x=x.reshape(len(x),1)
print(x)

[[ 1.1]
 [ 1.3]
 [ 1.5]
 [ 2. ]
 [ 2.2]
 [ 2.9]
 [ 3. ]
 [ 3.2]
 [ 3.2]
 [ 3.7]
 [ 3.9]
 [ 4. ]
 [ 4. ]
 [ 4.1]
 [ 4.5]
 [ 4.9]
 [ 5.1]
 [ 5.3]
 [ 5.9]
 [ 6. ]
 [ 6.8]
 [ 7.1]
 [ 7.9]
 [ 8.2]
 [ 8.7]
 [ 9. ]
 [ 9.5]
 [ 9.6]
 [10.3]
 [10.5]]

In [10]:
# divide data into training and testing samples
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y, train_size = 0.80, random_state=1)

In [11]:
xtrain

array([[ 9.5],
       [ 2. ],
       [ 8.7],
       [ 7.9],
       [ 8.2],
       [ 2.2],
       [ 1.5],
       [ 9. ],
       [ 3. ],
       [ 5.9],
       [ 4.1],
       [ 3.2],
       [ 9.6],
       [ 1.3],
       [ 5.1],
       [ 1.1],
       [ 4.9],
       [10.5],
       [10.3],
       [ 3.7],
       [ 3.2],
       [ 4. ],
       [ 4. ],
       [ 2.9]])

In [12]:
xtest

array([[5.3],
       [7.1],
       [3.9],
       [6. ],
       [4.5],
       [6.8]])

In [13]:
ytrain

array([116969.,  43525., 109431., 101302., 113812.,  39891.,  37731.,
       105582.,  60150.,  81363.,  57081.,  54445., 112635.,  46205.,
        66029.,  39343.,  67938., 121872., 122391.,  57189.,  64445.,
        56957.,  55794.,  56642.])

In [14]:
ytest

array([83088., 98273., 63218., 93940., 61111., 91738.])

In [15]:
#prepare model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [16]:
#train model
model.fit(xtrain, ytrain)

LinearRegression()

In [17]:
#prediction
ypred = model.predict(xtest)
ypred

array([75074.50510972, 91873.8056381 , 62008.38247653, 81607.56642631,
       67608.14931932, 89073.92221671])

In [18]:
ytest

array([83088., 98273., 63218., 93940., 61111., 91738.])

In [19]:
from sklearn.metrics import r2_score
r2 = r2_score(ytest, ypred)
r2

0.7616681465472094

In [20]:
#cross validation
accu = []
for i in range(1, 101):
  xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size=0.80, random_state=i)
  model = LinearRegression()
  model.fit(xtrain, ytrain)
  ypred = model.predict(xtest)
  r2 = r2_score(ytest, ypred)
  accu.append(r2)

In [21]:
import numpy as np
acc_array = np.array(accu)
acc_array

array([0.76166815, 0.88869567, 0.96950394, 0.95044045, 0.94396286,
       0.93681462, 0.81430228, 0.96311822, 0.93884165, 0.98164235,
       0.94088273, 0.94292692, 0.93944603, 0.96062158, 0.86970124,
       0.79498902, 0.93847448, 0.88643306, 0.94155318, 0.94412991,
       0.93985829, 0.88707026, 0.91841708, 0.9520702 , 0.95317328,
       0.98358497, 0.96364258, 0.92178414, 0.94671727, 0.9944092 ,
       0.89676495, 0.89859957, 0.93507856, 0.92441414, 0.88394765,
       0.95502111, 0.97782421, 0.97247945, 0.99283448, 0.77750835,
       0.98025195, 0.90244618, 0.86880452, 0.93495112, 0.92504879,
       0.97891298, 0.98399194, 0.98027728, 0.94976703, 0.88246796,
       0.96086247, 0.97436467, 0.95011549, 0.949273  , 0.89241371,
       0.98040674, 0.80963515, 0.48152205, 0.95479901, 0.91399254,
       0.95052229, 0.97195098, 0.9582009 , 0.91400678, 0.81127009,
       0.77822856, 0.95888325, 0.97917871, 0.87118241, 0.94293977,
       0.96947922, 0.95627718, 0.98121431, 0.96185917, 0.96522429,
       0.84682703, 0.97820123, 0.98618366, 0.98066257, 0.9356347 ,
       0.97604264, 0.95610946, 0.95324065, 0.95356799, 0.97717399,
       0.974311  , 0.95346692, 0.97707617, 0.97442658, 0.96767019,
       0.55241428, 0.97939958, 0.96822196, 0.9676991 , 0.90597548,
       0.9359396 , 0.95370391, 0.33975139, 0.91023546, 0.97207254])

In [22]:
acc_array.max()

0.9944092048209745

In [23]:
acc_array.argmax()

29

In [29]:
model.predict([[9.9]])

array([119494.11738289])