In [57]:
import pandas as pd
import numpy as np

In [58]:
data = pd.read_csv("diabetes.csv")
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [59]:
null_val = ["Glucose","BloodPressure","SkinThickness","Insulin","BMI"]

for col in null_val:
    data[col] = data[col].replace(0,np.nan)
    mean=int(data[col].mean(skipna=True))
    data[col] = data[col].replace(np.nan,mean)

In [74]:
x = data[["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction","Age"]].values

In [75]:
y = data["Outcome"].values

In [76]:
from sklearn.model_selection import train_test_split
xTrain,xTest,yTrain,yTest = train_test_split(x,y,test_size=0.2)

In [77]:
#from sklearn.preprocessing import StandardScaler
#sc=StandardScaler()
#xTrain = sc.fit_transform(xTrain)
#xTest = sc.fit_transform(xTest)

In [78]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(xTrain,yTrain)

GaussianNB()

In [79]:
yPred =  model.predict(xTest)
yPred

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0],
      dtype=int64)

In [80]:
from sklearn.metrics import confusion_matrix,accuracy_score

cm=confusion_matrix(yTest,yPred)
cm

array([[84, 13],
       [24, 33]], dtype=int64)

In [81]:
acc= accuracy_score(yTest,yPred)*100
acc

75.97402597402598

In [82]:
df = pd.DataFrame({'Real Values':yTest, 'Predicted Values':yPred})
df

     Real Values  Predicted Values
0              0                 0
1              0                 1
2              0                 0
3              0                 0
4              0                 0
..           ...               ...
149            0                 0
150            1                 0
151            1                 1
152            0                 0
153            0                 0

[154 rows x 2 columns]

In [83]:
model.predict([[0,137,40,35,168,43.1,2.288,33]])

array([1], dtype=int64)