In [2]:
import numpy as np
import pandas as pd
data = pd.read_csv("play_data.csv")
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [3]:
# converting string data to numeric
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data["outlook"] = le.fit_transform(data["outlook"])
data["temp"] = le.fit_transform(data["temp"])
data["humidity"] = le.fit_transform(data["humidity"])
data["wind"] = le.fit_transform(data["wind"])
data["play"] = le.fit_transform(data["play"])
data

    day  outlook  temp  humidity  wind  play
0    D1        2     1         0     1     0
1    D2        2     1         0     0     0
2    D3        0     1         0     1     1
3    D4        1     2         0     1     1
4    D5        1     0         1     1     1
5    D6        1     0         1     0     0
6    D7        0     0         1     0     1
7    D8        2     2         0     1     0
8    D9        2     0         1     1     1
9   D10        1     2         1     1     1
10  D11        2     2         1     0     1
11  D12        0     2         0     0     1
12  D13        0     1         1     1     1
13  D14        1     2         0     0     0

In [4]:
# selecting data
x = data.iloc[:, [1,2,3,4]].values # outlook & humidity
y = data.iloc[:, 5].values
y

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

In [5]:
# dividing data into training and testing dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [6]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x_train, y_train)

GaussianNB()

In [7]:
# Prdict using model
y_pred = model.predict(x_test)

In [8]:
# checking the accuracy of model
from sklearn.metrics import confusion_matrix, accuracy_score
acs = accuracy_score(y_test, y_pred) * 100
print("Accuracy Score = "+str(acs))

Accuracy Score = 40.0

In [9]:
# counting confusion matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix")
print(cm)

Confusion Matrix
[[0 0]
 [3 2]]

In [160]:
# 1 = Yes, 0 = No to play

# giving input = raining and normal humidity and 
print(model.predict([[1,0]]))
# giving input = sunny and high humidity
print(model.predict([[2,1]]))

[0]
[1]