In [6]:
import pandas as pd
import numpy as np

In [7]:
Data = pd.read_csv("recruit.csv")
Data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [9]:
null_val = ["experience","test_score(out of 10)"]
for col in null_val:
    Data[col]=Data[col].replace(0,np.nan)
    mean=int(Data[col].mean(skipna=True))
    Data[col] = Data[col].replace(np.nan,mean)

TypeError: unsupported operand type(s) for +: 'int' and 'str'